{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["babel", "react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": 1,
    "no-console": 1,
    "no-debugger": 1,
    "semi": [2, "never"],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }]
  }
}
