.title {
  font-size: 1.8rem;
  margin: 0;
}

.name {
  margin-right: 0.5rem;
}

.username {
  font-size: 1.4rem;
}

.descr a {
  color: #168eea;
  text-decoration: none;
}

.descr a:hover {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}
