.h1
  display: flex
  flex-direction: column
  font-size: 1.8rem
  margin: 0 0 8%
  @media screen and (min-width: 768px)
    text-align: right
.name
  font-size: 1.4rem
.descr
  @media screen and (min-width: 768px)
    text-align: right
  a
    color: #168eea
    text-decoration: none
    white-space: nowrap
    &:hover
      text-decoration: underline
