html,
:root {
  font-size: 62.5%;
}

html,
:root,
body {
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "Noto Sans Japanese", sans-serif;
}

body {
  color: #323b43;
  line-height: 1.6;
  font-size: 1.4rem;
}
