.toppage_container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container {
  margin: 32px 0;
}

.toppage_image {
  width: 300px;
}

.toppage_image_container {
  width: 56.25%;
  min-width: 180px;
  margin: 0 auto;
}

.toppage_image_container_img {
  max-width: 100%;
  height: auto;
}

.toppage_text {
  padding: 0 16px;
}

.toppage_text_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toppage_text_profile_listitem_iconcontainer {
  margin-right: .4em;
  display: inline-block;
  width: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
}

.toppage_text_bio {
  margin-bottom: 32px;
}
