doctype html
//  ______  __  __  ______  ______  ______  ______  __  __  __  __   __
// /\  ___\/\ \/\ \/\  ___\/\  __ \/\  == \/\  ___\/\ \_\ \/\ \/\ "-.\ \
// \ \___  \ \ \_\ \ \ \__ \ \  __ \ \  __<\ \___  \ \  __ \ \ \ \ \-.  \
//  \/\_____\ \_____\ \_____\ \_\ \_\ \_\ \_\/\_____\ \_\ \_\ \_\ \_\\"\_\
//   \/_____/\/_____/\/_____/\/_/\/_/\/_/ /_/\/_____/\/_/\/_/\/_/\/_/ \/_/
html
  head
    meta(charset="utf-8")
    title sugarshin.net
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if process.env.NODE_ENV === 'production'
      link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css")
    link(rel="stylesheet" href="index.css")
  body
    .wrapper
      .image: img(src="portrait.png")
      .text
        ul.profile
          -
            const info = [
              { icon: 'terminal', text: 'Engineer' },
              { icon: 'organization', text: '<a href="//one-team.com/">Oneteam Inc.</a>' },
              { icon: 'location', text: 'Tokyo, Japan' },
            ];
          each val in info
            li
              span.icon-container: span.octicon(class=`octicon-${val.icon}`)
              | !{val.text}
        ul.links.log
          li: a(href="//log.sugarshin.net/")
            span.icon-container: span.octicon.octicon-pencil
            | log
        ul.links
          -
            const links = [
              { url: '//github.com/sugarshin/', text: 'GitHub' },
              { url: '//www.npmjs.com/~sugarshin', text: 'npm' },
              { url: '//keybase.io/sugarshin', text: 'Keybase' },
              { url: '//twitter.com/sugarshin/', text: 'Twitter' },
              { url: '//instagram.com/sugarshin', text: 'Instagram'},
            ];
          each val in links
            li: a(href= val.url)
              span.icon-container: span.octicon.octicon-link
              | #{val.text}
