doctype html
//  ______  __  __  ______  ______  ______  ______  __  __  __  __   __
// /\  ___\/\ \/\ \/\  ___\/\  __ \/\  == \/\  ___\/\ \_\ \/\ \/\ "-.\ \
// \ \___  \ \ \_\ \ \ \__ \ \  __ \ \  __<\ \___  \ \  __ \ \ \ \ \-.  \
//  \/\_____\ \_____\ \_____\ \_\ \_\ \_\ \_\/\_____\ \_\ \_\ \_\ \_\\"\_\
//   \/_____/\/_____/\/_____/\/_/\/_/\/_/ /_/\/_____/\/_/\/_/\/_/\/_/ \/_/
html
  head
    meta(charset="utf-8")
    title sugarshin.net
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if process.env.NODE_ENV === 'production'
      link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css")
    link(rel="stylesheet" href="index.css")
  body
    .wrapper
      .image: img(src="portrait.png")
      .text
        ul.profile
          li
            span.icon-container: span.octicon.octicon-terminal
            | Engineer
          li
            span.icon-container: span.octicon.octicon-organization
            a(href="//one-team.com/") Oneteam Inc.
          li
            span.icon-container: span.octicon.octicon-location
            | Tokyo, Japan
        ul.links.log
          li: a(href="//log.sugarshin.net/")
            span.icon-container: span.octicon.octicon-pencil
            | log
        ul.links
          li: a(href="//github.com/sugarshin/")
            span.icon-container: span.octicon.octicon-link
            | GitHub
          li: a(href="//www.npmjs.com/~sugarshin")
            span.icon-container: span.octicon.octicon-link
            | npm
          li: a(href="//keybase.io/sugarshin")
            span.icon-container: span.octicon.octicon-link
            | Keybase
          li: a(href="//twitter.com/sugarshin")
            span.icon-container: span.octicon.octicon-link
            | Twitter
          li: a(href="//instagram.com/sugarshin")
            span.icon-container: span.octicon.octicon-link
            | Instagram
