name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml
  deploy:
    runs-on: ubuntu-24.04
    needs:
      - build
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: build
          path: build
      - uses: ./.github/actions/deploy
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          GIT_URL: git@github.com:sugarshin/sugarshin.net.git
          BRANCH: gh-pages
          GITHUB_SHA: ${{ github.sha }}
          BUILD: build
