name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml
  deploy:
    runs-on: ubuntu-24.04
    needs:
      - build
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: build
          path: build
      - uses: ./.github/actions/deploy
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          GIT_URL: git@github.com:sugarshin/sugarshin.net.git
          BRANCH: gh-pages
          GITHUB_SHA: ${{ github.sha }}
          BUILD: build
